# Azure Blob Storage
AZ_STORAGE_EP=
AZ_STORAGE_RESULTS=

# Azure Table Storage
TABLE_NAME=
AZ_TABLE_ENDPOINT=

# Functional aggregation files in the results container
AZ_FUNC_AGG_OP_PATH=
AZ_FUNC_AGG_IP_MAT_PATH=
AZ_FUNC_AGG_IP_DAYCASE_PATH=
AZ_FUNC_AGG_AAE_PATH=

# Microsoft Forms feedback iframe URL
FEEDBACK_FORM_URL=

# Posit Connect deployment
CONNECT_API_KEY=
CONNECT_SERVER=
# Required only when redeploying existing content
CONNECT_APP_ID=
