# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

# @primary-owner and @secondary-owner will be requested for

# review when someone opens a pull request

*       @yiwen-h @ai-mindset 

# Shiny application
/.github/workflows/app-requirements.yaml @The-Strategy-Unit/capcon-shiny-app
/_brand.yml @The-Strategy-Unit/capcon-shiny-app
/app.py @The-Strategy-Unit/capcon-shiny-app
/requirements.txt @The-Strategy-Unit/capcon-shiny-app
/tests/e2e/ @The-Strategy-Unit/capcon-shiny-app
# Shared files containing Shiny documentation or dependency configuration
/README.md      @yiwen-h @ai-mindset @StatsRhian
/pyproject.toml @yiwen-h @ai-mindset @StatsRhian